body{background: black;
        color:#fff;

    }
.caja1{
    width: 310px;
    height: 40px;
    margin: 20px;
    padding: 20px;
    border:10px inset white ;
    background: red;
    position: relative;
    top: ;
    bottom: ;
    right: ;
    left: 500px;
}
.nube1{
    width: 210px;
    height: 190px;
    margin: 5px;
    padding: 10px;
    border:0px solid red ;
    background: black;
    position: relative;
    top: ;
    bottom:150px ;
    right: ;
    left: 900px;
}
.nube2{
    width: 210px;
    height: 190px;
    margin: 5px;
    padding: 10px;
    border:0px solid red ;
    background: black;
    position: relative;
    top: ;
    bottom:370px;
    right: ;
    left:250px;
}
.caja2{
    width: 1050px;
    height: 280px;
    margin: 20px;
    padding: 20px;
    border:10px inset white ;
    background: blue;
    position: relative;
    top: ;
    bottom:300px;
    right: ;
    left:85px;
}
.rayo1{
    position: relative;
    top: ;
    bottom:700px;
    right: ;
    left:;
}
.rayo2{
    position: relative;
    top: ;
    bottom:1250px;
    right: ;
    left:1240px;
}
.caja3{
    width: 600px;
    height: 240px;
    margin: 20px;
    padding: 20px;
    position: relative;
    top: ;
    bottom:1250px;
    right: ;
    left:600px;
}
.bombillo{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.justificacion{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.caja4{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.zona{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.caja5{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.i1{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.i2{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.elian{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}
.glud{
    position: relative;
    top: ;
    bottom:1700px;
    right: ;
    left:; 
}